<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="profile" href="https://gmpg.org/xfn/11" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="a.validate.01" content="4bdcc7b794e82f5ae551bfc698296a0f2085" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <link rel="pingback" href="" />

  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.cdnfonts.com" crossorigin>

  {%- capture title -%} 
    {%- if layout.title -%}
      {{- layout.title -}}
    {%- elsif page.title -%} 
      {{- page.title -}}
    {%- endif -%}
    {% if page.pagination_info.curr_page and page.pagination_info.curr_page != 1 %} - Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}{% endif %}
  {%- endcapture -%}

  {%- capture description -%} 
    {%- if layout.description -%}
      {{- layout.description -}}
    {%- elsif page.description -%} 
      {{- page.description -}}
    {%- endif -%}
  {%- endcapture -%} 

  {%- capture img -%}
    {%- if layout.thumbnail-img -%}
      {{- layout.thumbnail-img -}}
    {%- elsif page.thumbnail-img -%} 
      {{- page.thumbnail-img -}}
    {%- else -%}
      assets/img/avatar-icon.png
    {%- endif -%}
  {%- endcapture -%}

  <meta name="description" content="{{ description }}" />
  <meta name="author" content="tgbao2703" />

  {% if page.follow-noindex %}
    <meta name="robots" content="noindex, follow" />
  {% else %}
    <meta name="robots" content="index, follow" />
  {% endif %}

  <meta property="og:site_name" content="tgbao.me" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}" />

  {% if page.path contains '_posts' %}
    <title>{{ title }}</title>
    <meta name="twitter:title" content="{{ title }}" />
    <meta property="og:title" content="{{ title }}" />

    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ img | absolute_url }}" />
    <meta property="og:image:secure_url" content="{{ img | absolute_url }}" />
    <meta property="og:image:alt" content="{{ title }}" />
    <meta property="article:publisher" content="https://facebook.com/tgbaodeeptry" />
    <meta property="article:author" content="tgbao2703" />
    <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="og:updated_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
    {%- for tag in page.tags -%}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{%- endfor -%}
    <meta property="article:section" content="{{ page.category }}" />
  {% else %}
    <title>{{ title }} - tgbao.me</title>
    <meta name="twitter:title" content="{{ title }} - tgbao.me" />
    <meta property="og:title" content="{{ title }} - tgbao.me" />

    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}/assets/img/avatar-icon.png" />
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/avatar-icon.png" />
  {% endif %}
  
  <meta property="twitter:domain" content="tgbao.me" />
  <meta property="twitter:url" content="{{ page.url | absolute_url | strip_index }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ img | absolute_url }}" />

  {% unless page.nocanonical %}
    <link rel="canonical" href="{{ page.url | absolute_url | strip_index }}" />
  {% endunless %}

  {% if paginator.previous_page %}<link rel="prev" href="{{ paginator.previous_page_path	| absolute_url | replace: 'index.html', '' }}" />{% endif %}
  {% if paginator.next_page %}<link rel="next" href="{{ paginator.next_page_path	| absolute_url | replace: 'index.html', '' }}" />{% endif %}

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": "https://tgbao.me/#webpage",
    "url": "https://tgbao.me/",
    "name": "Tech blog for everyone",
    "alternateName": "Help you know programming, software, tutorial, crypto, operating system, anything related to tech.",
    "description": "Help you know programming, software, tutorial, crypto, operating system, anything related to tech.",
    "image": {
      "@type": "ImageObject",
      "url": "https://tgbao.me/assets/img/avatar-icon.png"
    },
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "https://tgbao.me/search?s={search_term}"
      },
      "query-input": {
        "@type": "PropertyValueSpecification",
        "valueRequired": "http://schema.org/True",
        "valueName": "search_term"
      }
    },
    "inLanguage": "en-US"
  }
  </script>

  <style>
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}

    {% capture include_fonts %}
      {% include fonts.scss %}
    {% endcapture %}

    {{ include_to_scssify }}
    {{ include_fonts }}

    {% if page.path contains '_posts' %}
      {% capture include_highlight %}
        {% include highlight.scss %}
      {% endcapture %}
      {{ include_highlight }}

      {% capture include_premonition %}
        {% include premonition.scss %}
      {% endcapture %}

      {{ include_premonition }}
    {% endif %}
  </style>
</head>