<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img or page.title %}

{% if page.cover-img %}
<div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
  {% for bigimg in page.cover-img %} {% assign imgnum = forloop.index %} {% for imginfo in bigimg %} {% if imginfo[0] %}
  data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}" data-img-desc-{{ imgnum }}="{{ imginfo[1] }}" {% else %}
  data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}" {% endif %} {% endfor %} {% endfor %}></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
  <div class="intro-header no-img">
    <div class="row">
      <div class="col-12 p-0">
        <span class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br />{% endif %}</h1>
        </span>

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        <span class="post-date-small">{{ page.date | date: "%B %-d, %Y" }}</span>

        <br />
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
          viewBox="0 0 16 16">
          <path
            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
          <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
        </svg>
        <span class="post-date-small">{% include readtime.html %}</span>
      </div>
    </div>
  </div>
</header>

{% else %}
<div class="intro-header"></div>
{% endif %}