<header id="header" itemscope="itemscope" role="banner" itemtype="https://schema.org/WPHeader">
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">tgbao.me</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse my-1" id="main-navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <form class="d-flex" role="search" method="get" action="/search">
              <input name="s" class="form-control me-2" id="search-post-input" type="search" placeholder="Type and hit Enter ..." aria-label="Search">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>