<aside itemscope itemtype="https://schema.org/WPSideBar">
  <div class="form-signup mx-3 mt-5">
    <div class="row signup-box-name">
      <h3 class="p-0">Get the free newsletter</h3>
    </div>

    <div class="row">
      <span class="p-0">Subscribe to tgbao.me for top news, tech & tutorials</span>
    </div>

    <div class="row">
      <div id="mc_embed_signup" class="p-0">
        <form action="https://tgbao.us5.list-manage.com/subscribe/post?u=41c67fbcba7ea4c2b27706c4c&amp;id=8c64cce2f7"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
          novalidate>
          <div id="mc_embed_signup_scroll" class="form-group">
            <div class="mc-field-group">
              <input placeholder="Your email" type="email" value="" name="EMAIL" class="required email form-control"
                id="mce-EMAIL">
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_41c67fbcba7ea4c2b27706c4c_8c64cce2f7" tabindex="-1" value="">
            </div>

            <div class="clear mt-3">
              <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe"
                class="btn btn-primary mt-2">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if relate %}

  <ul class="mt-5 lastest-posts list-unstyled">
    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}

    {% for p in site.posts %}
      {% assign sameTagCount = 0 %}
      {% assign commonTags = '' %}

      {% for tag in p.tags %}
        {% if p.url != page.url %}
          {% if page.tags contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if sameTagCount >= minCommonTags %}
          <li>
            <div class="row">
              <div class="col-4">
                <a href="{{ p.url | absolute_url }}">
                  {% picture lazy-load-suggest {{ p.thumbnail-img }} --alt {{ p.title }} %}
                </a>
              </div>
              <div class="col-8 p-0">
                <div class="post-suggest-title">
                  <h4 class="m-0"><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></h4>
                </div>
                <div class="post-suggest-date m-0">
                  <span>{{ p.date | date: "%B %-d, %Y" }}</span>
                </div>
              </div>
            </div>
            <div class="my-4">
            </div>
          </li>

        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  {% endif %}
</aside>