---
layout: page
---

<div class="col-12 col-lg-8 p-0">
  <div class="row">
    <h1 class="box-type">{{ page.ncategory }}</h1>
  </div>

  {% for p in paginator.posts %}
  <article class="post-body">
    <div class="row">
      <div class="col-12 col-md-4">
        <a href="{{ p.url | absolute_url }}">
          {% picture lazy-load-small {{ p.thumbnail-img }} --alt {{ p.title }} %}
        </a>
      </div>

      <div class="col-12 col-md-8">
        <div class="post-info-small">
          <div class="post-title-small">
            <h3 class="mt-3 mt-md-0 mb-2"><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></h3>
          </div>

          <div class="post-description-small">
            <span>{{ p.excerpt | strip_html | strip_newlines | truncate: 156 }}</span>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <div class="post-date-small">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
                viewBox="0 0 16 16">
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </svg>
              <span>{{ p.date | date: "%B %-d, %Y" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="my-4">
    <hr />
  </div>
  {% endfor %}

  {% if paginator.page_trail %}
  <div class="pagination">
    <ul>
    {% for trail in paginator.page_trail %}
      <li {% if page.url == trail.path %} class="active" {% endif %}>
          <a href="{{ trail.path | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

<div class="col-12 col-lg-4 p-0">
  {% assign tagscloud = site.tags %}
  {% include right-side.html %}
</div>