---
layout: base
---

{%- capture title -%} 
  {%- if layout.title -%}
    {{- layout.title -}}
  {%- elsif page.title -%} 
    {{- page.title -}}
  {%- endif -%}
  {% if page.pagination_info.curr_page and page.pagination_info.curr_page != 1 %} - Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}{% endif %}
{%- endcapture -%}

{%- capture description -%} 
  {%- if layout.description -%}
    {{- layout.description -}}
  {%- elsif page.description -%} 
    {{- page.description -}}
  {%- endif -%}
{%- endcapture -%} 

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ title }}",
    "alternateName": "{{ description }}",
    "url": "{{ site.url }}{{ page.url | replace: 'index.html', '' }}",
    "description": "{{ description }}",
    "image": {
      "@type": "ImageObject",
      "url": "https://tgbao.me/assets/img/avatar-icon.png"
    }
  }
</script>

<div class="container-fluid p-3" role="main">
  <div class="row justify-content-center">
    {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
      {% include {{ file }} %}
      {% endfor %}
    </div>
    {% endif %}

    {{ content }}

    {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
      {% include {{ file }} %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
