---
layout: base
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | absolute_url }}"
    },
    "headline": "{{ page.title }}",
    "description": "{{ page.description | replace: '"', "'" }}",
    "inLanguage": "en-US",
    "url": "{{ page.url | absolute_url }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ page.thumbnail-img | absolute_url }}"
    },
    "publisher": {
      "@context": "http://schema.org",
      "@type": "Organization",
      "@id": "{{ site.url }}/#organization",
      "name": "tgbao.me",
      "url": "{{ site.url }}",
      "logo": {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "url": "https://tgbao.me/assets/img/avatar-icon.png"
      },
      "contactPoint": {
        "@type" : "ContactPoint",
        "telephone" : "+84919009319",
        "email": "tgbao2703@gmail.com"
      },
      "sameAs": [
        "https://www.pinterest.com/tgbaome/",
        "https://twitter.com/tgbaome",
        "https://www.facebook.com/tgbaome/",
        "https://www.youtube.com/channel/UCASQrvTnzDeWzH7DLZGpNkA/"
      ]
    },
    "author": {
      "@context": "http://schema.org",
      "@type": "Person",
      "@id": "{{ site.url }}{{ page.url }}/#author",
      "url": "https://www.facebook.com/tgbaodeeptry",
      "name": "Trần Gia Bảo",
      "jobTitle": "Founder & CEO",
      "sameAs": [
        "https://www.linkedin.com/in/tgbaodeeptry/",
        "https://github.com/tgbaodeeptry"
      ]
    },
    "articleBody": "{{ content | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | replace: '"', "'" | replace: '&', '\x26' | replace: '\', '' }}"
  }
</script>

<div class="container-fluid p-3">
  <div class="row">
    <div class="col-12">
      <div id="breadcrumb" class="mb-0">
        <ul id="breadcrumblist" class="p-0" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item"
              href="{{ site.url }}"><span itemprop="name">Home</span></a>»
            <meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item"
              href="{{ site.url }}/{{ page.category }}/"><span itemprop="name">{{ page.category }}</span></a>
            <meta itemprop="position" content="2" />»</li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span
              itemprop="name">{{ page.title }}</span>
            <meta itemprop="position" content="3" />
          </li>
        </ul>
        <hr />
      </div>
    </div>

      <div class="col-12 col-lg-8">
        <main role="main" id="main">
          <article>
            {% include header.html type="post" %}

            <div class="addthis_inline_share_toolbox"></div>
            <hr/>

            <div class="blog-post">
              {{ content }}
            </div>

            <div class="addthis_inline_share_toolbox mt-5"></div>

            <div class="blog-tags mt-3">
              {% for tag in page.tags %}
                <a rel="tag" href="{{ '/tag' | relative_url }}/{{- tag -}}/">{{- tag | replace: "-", " " -}}</a>
              {% endfor %}
            </div>
          </article>
        </main>
      </div>

      <div class="col-12 col-lg-4" id="sidebar">
        {% assign relate = true %}
        {% include right-side.html %}
      </div>

    <aside>
      <div class="mt-3"></div>
      <div class="col-12">
        <hr/>

        <ul class="list-unstyled">
          <div class="row">
            {% assign posts = site.posts | where_exp: "post" , "post.url != page.url" %}
            {% assign maxRelated = 6 %}
            {% assign maxRelatedCounter = 0 %}

            {% for p in posts %}
              {% unless similarPosts contains p.url %}
              <div class="col-12 col-lg-4 p-0 px-lg-3">
                <li class="lastest-posts-below mb-2 mt-3">
                  <div class="row">
                    <div class="col-4 col-lg-12 px-lg-1">
                      <a href="{{ p.url | absolute_url }}">
                        {% picture lazy-load-suggest {{ p.thumbnail-img }} --alt {{ p.title }} %}
                      </a>
                    </div>

                    <div class="col-8 col-lg-12 px-0 px-lg-1 pt-lg-2">
                      <div class="post-suggest-title">
                        <h4 class="m-0"><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></h4>
                      </div>
                    </div>
                  </div>
                </li>
              </div>

              {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
              {% if maxRelatedCounter >= maxRelated %}
                {% break %}
              {% endif %}

              {% endunless %}
            {% endfor %}
          </div>
        </ul>
      </div>

      <hr/>

      <div class="row">
        <div class="col-12 col-lg-8 p-0 mx-auto">
          {% include comments.html %}
        </div>
      </div>
    </aside>
  </div>
</div>

<script>
  function toTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

<a id="go-top-button" onclick="toTop()">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="40" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" stroke="white" stroke-width="2"/>
  </svg>
</a>